/* Estilos generales del footer */
.footer {
    background-color: #ffffff; /* Fondo oscuro para un aspecto profesional */
    color: #f5f5f5; /* Texto en blanco suave para contraste */
    padding: 40px 0;
    font-family: 'Roboto', sans-serif; /* Fuente más moderna */
    text-align: center;
    position: relative;
    border-top: 1px solid #444; /* Línea sutil en la parte superior */
    margin-top: 5%;
}

/* Contenedor del footer */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



/* Información adicional en el footer */
.footer-info {
    margin-top: 40px;
}

.footer-info p {
    margin: 5px 0;
    font-size: 0.95rem;
    color: #000000; /* Color gris suave para el texto adicional */
}



