/* Sección de inicio con fondo de imagen */
.inicio-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff; /* Textos blancos para el contraste */
    background-image: url('../../components/images/inicio.png'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    background-attachment: fixed;
    height: 80vh; /* Altura al 50% de la ventana */
    width: 100%; /* Ancho completo */
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center;
    text-align: center;
    padding: 3rem 2rem; /* Añadido padding para no amontonar el contenido */
    animation: fadeInUp 1s ease-in-out;
    margin-top: 5%;
    opacity: 0;
    animation: fadeInUp 2s forwards; /* Animación de aparición */
}

/* Ajustes a los textos dentro de la sección de inicio */
.inicio-container h1,
.inicio-container p {
    color: #fff; /* Texto en blanco para mayor visibilidad */
    animation: fadeInUp 0s ease-in-out;
    margin-bottom: 1rem; /* Espacio entre el título y el párrafo */
    opacity: 0;
    animation: fadeInUp 3s forwards; /* Animación de aparición */
    font-size: 29px;
}
/* Contenedor de los botones de llamada a la acción */
.table {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.cta-button {
    margin-top: 20px;
    background-color: #2b2d30;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, opacity 0.3s ease;
    opacity: 0;
    animation: fadeInUp 1s 1s forwards; /* Animación para la aparición */
}

.cta-button:hover {
    background-color: #00bcd4;  /* Azul galáctico brillante */
    color: #fff; /* Mantener el texto blanco */
    transform: scale(1); /* Mantiene el tamaño normal */
    opacity: 0.8; /* Hace que el botón se vuelva opaco al pasar el cursor */
    box-shadow: 0 4px 15px rgba(38, 39, 41, 0.6); /* Sombra futurista */
    animation: glow 1s ease-in-out infinite alternate; /* Añadido efecto de resplandor */
}

.cta-button + .cta-button {
    margin-left: 15px; /* Espacio entre botones */
}

/* Sección de características */
.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    gap: 2rem;
}

.feature-box {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 2s forwards; /* Animación de aparición */
}

.feature-box h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #2b2d30;  /* Azul futurista */
    animation: bounce 1s infinite;
}

.feature-box p {
    font-size: 1rem;
    color: #666;
    opacity: 0;
    animation: fadeInUp 2s 1s forwards; /* Animación de aparición */
}

/* Testimonios */
.testimonial {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-bottom: 30px;
    text-align: center;
    animation: fadeInUp 1s ease-in-out;
}

.testimonial h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2b2d30; /* Azul galáctico */
    animation: fadeInUp 1s ease-in-out; /* Animación para el título */
}

.testimonial p {
    font-size: 1rem;
    color: #000000;
}

/* Círculos */
.circles-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    gap: 2rem;
}

.circle {
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 2rem;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s forwards;
}

.circle h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #2b2d30;  /* Azul futurista */
    opacity: 0;
    animation: fadeInUp 3s 1s forwards; /* Animación para el texto */
}

.circle p {
    font-size: 1rem;
    color: #666;
}

.circle:hover {
    transform: scale(1.1);
    background-color: #ffffff; /* Azul futurista al pasar el cursor */
    color: #fff; /* Texto blanco al hacer hover */
    box-shadow: 0 6px 15px #00bcd4;
    animation: pulse 1s infinite; /* Efecto pulsante */
}

/* Animaciones personalizadas */

/* Animación de desvanecimiento (fadeInUp) */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de rebote (bounce) */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Animación de resplandor */
@keyframes glow {
    0% {
        box-shadow: 0 0 10px #0a74da;
    }
    100% {
        box-shadow: 0 0 20px #0a74da;
    }
}

/* Animación de pulsado (pulse) */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
