/* Estilos generales para el contenedor de inicio */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body,
html {
    overflow-x: hidden;
    /* Oculta el desbordamiento horizontal */
}

.inicio-container {
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    animation: fadeInUp 1s ease-in-out;
}

/* Estilos para el encabezado */
.col-md-6-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    position: relative;
    background-color: #f0f0f0;
    /* Color de fondo en caso de que no haya imagen */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out;
    margin-top: 50px;
}

.image-container {
    background: url('../components/images/fondoHeaderH1P.png') no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-container {
    width: 50%;
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.text-container p {
    font-size: 1.2rem;
}

/* Estilos para col-md-6-1 */
.col-md-6-1 {
    background-color: rgb(255, 255, 255);
    /* Blanco un poco oscuro y transparente */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    animation: fadeInUp 1s ease-in-out;
}

/* Estilos para col-md-6-2 */
.col-md-6-2 {
    background: url('../components/images/logoia.png') no-repeat center center;
    background-size: cover;
    /* Ajusta la imagen para que cubra el área */
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Espacio entre texto e imagen */
    text-align: left;
    /* Alinea el texto a la izquierda */
    gap: 1rem;
    /* Espacio entre el texto y la imagen */
    animation: fadeInUp 1s ease-in-out;
}

/* Aplicar el efecto de desplazamiento suave */
.scroll-fade {
    position: relative;
    transition: transform 0.5s ease-in-out;
}

/* Botones */
.cta-button {
    background-color: #222831;
    border: none;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
    background-color: #444;
    transform: translateY(-2px);
}

.cta-button:active {
    background-color: #333;
    transform: translateY(0);
}